RewriteEngine On
RewriteBase /

# Permitir acesso direto a arquivos e diretórios existentes
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirecionar requisições para a API
RewriteRule ^api/(.*)$ ../api/$1 [L]

# Redirecionar todas as outras requisições para o index.php
RewriteRule ^(.*)$ index.php [L] 